**/venv/
**/__pycache__/
**/node_modules/
**/package-lock.json
**/package.json
**/package.json.lock
**/package.json.lock.json
**/package.json.lock.json.lock
**/package.json.lock.json.lock.json
**/package.json.lock.json.lock.json.lock
**/package.json.lock.json.lock.json.lock.json
**/package.json.lock.json.lock.json.lock.json.lock
/jsons/